<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/style/font-awesome.css" rel="stylesheet" />
    <link href="~/style/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*@Html.ActionLink("Login", "User")
    @Html.ActionLink("NewRegister", "User")*@
</body>
</html>
